# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/
venv/

# Django
*.sqlite3
*.log

# Variables de entorno
.env

# Node / React
node_modules/
dist/
build/

# Archivos de configuración de editores
.vscode/
.idea/